# django
*.log
*.pot
*.py[co]
*.pyc
*.swp
local_settings.py
*migrations*

# static
media
data

# scrapper
# database
#*.json
scrapper

# database
*.json
#*.sqlite3
studyplan/local_settings.py

# node.js
node*

# etc
venv
run.sh
#testcase.py
cheatsheet.md
config.py
