{% load humanize %}

<div class="col-xs-6 col-xs-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">{{ request.user.korean_name }} 님의 도전</h2>
    </div>
    <div class="panel-body">
      <form action="{% url 'core:index' %}" method="post">
        {% csrf_token %}
        <div class="input-group col-xs-12">
          <div class="input-group-addon">#</div>
          {% if disabled %}
            <input type="text" class="form-control" name="reason" value="{{ deal.reason }}" disabled>
          {% else %}
            <input type="text" class="form-control" name="reason" placeholder="한줄 구매 사유">
          {% endif %}
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="is_name_filter"> 이름 일부 가리기
          </label>
        </div>
        <div class="input-group input-group-lg">
          <input type="number" class="form-control" name="value" placeholder="최소 {{ stuff.recent_price|add:stuff.min_diff_price|intcomma}} 원 이상">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Go!</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
