{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% load humanize %}

{% block content %}

<section id="auction">
<div class="stuff-bg" style="background-image: url({{ stuff.img_url }});"></div>

<div class="stuff">
  <div class="stuff-detail text-center">
    <h1 class="title">{{ stuff.name }}</h1>
    <h4 class="detail"><span class="label label-default">{{ stuff.detail }}</span></h4>
    <button class="btn btn-primary btn-lg" disabled>시작 가격 : {{ stuff.start_price|intcomma }} 원</button>
    <button class="btn btn-danger btn-lg">현재 가격 : {{ stuff.recent_price|intcomma }} 원</button>
  </div>
  <div class="deal">
    {% if user.is_authenticated %}
      {% include 'card.html' %}
      {% include 'card.html' with valid=False %}
      {% include 'card.html' %}
    {% else %}
      <div class="fb-join"> 
        <a href="{% url 'socialauth_begin' 'facebook' %}" onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=400,height=300');return false;">
          <div class="fb-join-image"><img src="https://d3kif4no5sfwzt.cloudfront.net/assets/intro/intro_btn_fb-86680a3702eb0c41f5cf6412554e2360.png"></div>
          <div class="fb-join-text">페이스북으로 로그인</div>
        </a>
      </div>
    {% endif %}
  </div>
</div>


</section>

{% endblock %}
